.homepage  {
    background-color: turquoise;
    margin: 0
    padding: 0;
    border: 0;
    font: inherit;
}

.wrapper {
    display: flex;
}

.wrapper > div {
    
    background-color: violet;
    flex: 1;
    
}